{% extends 'base.html' %}
{% block content %}
<h2>Adicionar Pessoa</h2>
<form method="POST" enctype="multipart/form-data">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" required>

    <label for="acesso">Acesso:</label>
    <input type="text" name="acesso" required>

    <label for="entrada">Horário de Entrada:</label>
    <input type="text" name="entrada" required>

    <label for="saida">Horário de Saída:</label>
    <input type="text" name="saida" required>

    <label for="foto">Foto:</label>
    <input type="file" name="foto" required>

    <button type="submit" class="btn">Adicionar</button>
</form>
{% endblock %}