{% extends 'base.html' %}
{% block content %}
<h2>Adicionar Pessoa</h2>
<form method="post" enctype="multipart/form-data">
    <input type="text" name="nome" placeholder="Nome" required>
    <input type="text" name="acesso" placeholder="Acesso" required>
    <input type="text" name="cargo" placeholder="Cargo" required>
    <input type="time" name="entrada" required>
    <input type="time" name="saida" required>
    <label><input type="checkbox" name="acesso_noturno"> Acesso Noturno</label>
    <input type="file" name="foto" accept="image/*">
    <button type="submit">Salvar</button>
</form>
{% endblock %}