<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Acesso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sistema de Identificação</h1>
        <nav>
            <a href="{{ url_for('index') }}">Início</a> |
            <a href="{{ url_for('adicionar') }}">Adicionar Pessoa</a>
        </nav>
        <hr>
        {% block content %}{% endblock %}
    </div>
</body>
</html>