{% extends 'base.html' %}
{% block content %}
<h2>Editar Pessoa</h2>
<form method="POST" enctype="multipart/form-data">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" value="{{ pessoa['nome'] }}" required>

    <label for="acesso">Acesso:</label>
    <input type="text" name="acesso" value="{{ pessoa['acesso'] }}" required>

    <label for="entrada">Horário de Entrada:</label>
    <input type="text" name="entrada" value="{{ pessoa['entrada'] }}" required>

    <label for="saida">Horário de Saída:</label>
    <input type="text" name="saida" value="{{ pessoa['saida'] }}" required>

    <label for="foto">Nova Foto (opcional):</label>
    <input type="file" name="foto">

    <button type="submit" class="btn">Atualizar</button>
</form>
{% endblock %}