{% extends 'base.html' %}
{% block content %}
<h2>Editar Pessoa</h2>
<form method="post" enctype="multipart/form-data">
    <input type="text" name="nome" value="{{ pessoa.nome }}" required><br><br>
    <input type="text" name="cargo" value="{{ pessoa.cargo }}" required><br><br>
    <input type="text" name="acesso" value="{{ pessoa.acesso }}" required><br><br>
    Entrada: <input type="time" name="entrada" value="{{ pessoa.entrada }}" required><br><br>
    Saída: <input type="time" name="saida" value="{{ pessoa.saida }}" required><br><br>
    <label><input type="checkbox" name="acesso_noturno" {% if pessoa.acesso_noturno %}checked{% endif %}> Acesso Noturno</label><br><br>
    Foto atual:<br>
    {% if pessoa.foto %}
        <img src="{{ url_for('foto', filename=pessoa.foto) }}" alt="Foto atual" width="100"><br>
    {% else %}
        Nenhuma foto.<br>
    {% endif %}
    <br>Nova foto: <input type="file" name="foto" accept="image/*"><br><br>
    <button type="submit" class="btn">Atualizar</button>
</form>
{% endblock %}