{% extends 'base.html' %}
{% block content %}
<h2>Editar Pessoa</h2>
<form method="post" enctype="multipart/form-data">
    <input type="text" name="nome" value="{{ pessoa.nome }}" required>
    <input type="text" name="acesso" value="{{ pessoa.acesso }}" required>
    <input type="text" name="cargo" value="{{ pessoa.cargo }}" required>
    <input type="time" name="entrada" value="{{ pessoa.entrada }}" required>
    <input type="time" name="saida" value="{{ pessoa.saida }}" required>
    <label><input type="checkbox" name="acesso_noturno" {% if pessoa.acesso_noturno %}checked{% endif %}> Acesso Noturno</label>
    <input type="file" name="foto" accept="image/*">
    <button type="submit">Atualizar</button>
</form>
{% endblock %}