{% extends 'base.html' %}
{% block content %}
<h2>Informações de {{ pessoa.nome }}</h2>
<ul>
    <li>ID: {{ pessoa.id }}</li>
    <li>Acesso: {{ pessoa.acesso }}</li>
    <li>Cargo: {{ pessoa.cargo }}</li>
    <li>Entrada: {{ pessoa.entrada }}</li>
    <li>Saída: {{ pessoa.saida }}</li>
    <li>Acesso Noturno: {{ 'Sim' if pessoa.acesso_noturno else 'Não' }}</li>
    {% if pessoa.foto %}
    <li><img src="{{ url_for('foto', filename=pessoa.foto) }}" width="200"></li>
    {% endif %}
</ul>
<a href="/">Voltar</a>
{% endblock %}